body{
    background-color: beige;
}

*{
    font-family: Verdana;
    font-size: 1.2em;
}

#myH1{
    text-align: center;
}

#mySubmit{
    background-color: rgb(253, 233, 197);
}

#mySubmit:hover{
    background-color: rgb(209, 85, 85)
}