body{
    background-color: beige;
}

*{
    font-family: Verdana;
    font-size: 1.2em;
}

#myH1{
    text-align: center;
}

#mySubmit{
    border-radius: 5em;
    cursor: pointer;
    transition: background-color 0.25s;
    background-color: rgb(253, 233, 197);
}

#mySubmit:hover{
    background-color: rgb(238, 160, 64);
}